@charset "utf-8";
/* CSS Document */

h1,h3,h4,h6,ol,p,input,textarea{ padding:0; margin:0; font-weight:normal}
input,textarea{ border:0;}
body{ background:#CCC}

img{ border:0;}
ol{ list-style:none}
.box_clear{ clear:both}
a{ text-decoration:none;}
/*help support*/

#helpcenter{ text-align:left; font-size: 14px; color:#000}

.helpcenterbiaoti{ font-size:20px; font-weight:bold; height:45px; line-height:45px;}
.helpcenterbiaoti01{ font-size:18px; font-weight:bold; height:45px; line-height:45px; color:#1F1F1F}

.helpcenterul ul{ margin-left:20px;}
.helpcenterul li{ background:url(../images/box_dian.jpg) 2px no-repeat; padding-left:10px; line-height:20px; color:#333}
.helpcentercontent{ line-height:20px; margin-top:10px; color:#333}

.helpcenter01{ width:500px; overflow:hidden;}
.helpcentertopleft{ background:url(../images/box_left.jpg) no-repeat; width:6px; height:6px; float:left; overflow:hidden}
.helpcentertopcenter{ width:488px; height:5px; border-top:1px solid #CBCBCB; float:left; overflow:hidden}
.helpcentertopright{ background:url(../images/box_right.jpg) no-repeat; width:6px; height:6px; float:right; overflow:hidden}

.helpcentercenter{ overflow:hidden; border:1px solid #ccc; border-bottom:none; border-top:none}
.helpcentercenterleft{ float:left; width:130px; font-size:16px; color:#333; font-weight:bold}
.helpcentercenterright{ float:right; width:325px;}

.helpcentercenter01{ width:455px; margin-left:20px; overflow:hidden; padding-top:20px;}
.helpcentertext{ border:1px solid #CBCBCB; padding:5px;}

.box_add{ margin:20px;}
.box_add a{ display:block; margin:0 auto; color:#fff; width:135px; line-height:26px; height:26px; background:url(../images/box_post.jpg) no-repeat; font-weight:bold; text-align:center}
.box_add a:hover{ background:url(../images/box_post01.jpg) no-repeat; color:#000}

.helpcentertopleft01{ background:url(../images/box_left01.jpg) no-repeat; width:6px; height:6px; float:left; overflow:hidden}
.helpcentertopcenter01{ width:488px; height:5px; border-bottom:1px solid #CBCBCB; float:left; overflow:hidden}
.helpcentertopright01{ background:url(../images/box_right01.jpg) no-repeat; width:6px; height:6px; float:right; overflow:hidden}


/*使用说明*/
.helpcenterbiaoti02{ font-size:22px; font-weight:bold; text-align:center; color:#1F1F1F}
.helpcenterbiaotip{ line-height:20px; font-weight:normal; font-size:14px; overflow:hidden; color:#1F1F1F}
.helpend{ height:100px; line-height:100px;}

/*发布意见*/

.suggestleft dl{ width:80px; margin:0 auto}
.suggestleft dt{ border:1px solid #cbcbcb; height:56px}
.suggestleft dt span{ width:80px; height:25px; line-height:25px; display:block; text-align:center}
.suggestleft dd{ margin-top:5px; background:url(../images/box_vote.jpg) no-repeat; color:#000; font-size:12px; text-align:center}

.helpsuggestleft{ float:left; width:630px;}
.helpsuggestright{ float:right; width:250px; text-align:left}

.helpsuggestbiaoti{ font-size: 22px; font-weight: normal; line-height: 1em; margin-bottom: 8px; margin-top: 6px; color: #6F675E;}
.helpsuggestbiaoti01 a{ color:#007DBF; font-size:12px;}
.helpsuggestbiaoti01 a:hover{ text-decoration:underline}

.suggestleft{ float:left; width:95px;}
.suggestright{ float:right; width:530px}

.suggestright01{ font-size: 18px; font-weight: bold; line-height: 1em; margin-bottom: 10px;}
.suggestright02{ margin-bottom:30px; min-height:20px; height:60px; line-height:60px; padding-left:50px; font-size:11px; background:url(../images/user.jpg) 3px no-repeat}

.suggestright02 a,.suggestleftcontent dd a,.helpsuggestright01 a{ color:#007DBF}
.suggestright02 a:hover{ text-decoration:underline}

.suggestrighttop,.suggestrightbottom{ overflow:hidden}
.suggestrighttop01{ background:url(../images/box_left.jpg) no-repeat; width:6px; height:6px; float:left; overflow:hidden}
.suggestrightcenter{ border:1px solid #cbcbcb; border-bottom:none; border-top:none; overflow:hidden}
.suggestrightcenter01{ width:518px; height:5px; overflow:hidden; border-top:1px solid #ccc; float:left}
.suggestrightbottom01{ background:url(../images/box_right.jpg) no-repeat; width:6px; height:6px; float:right; overflow:hidden}

.suggestrighttop02{ background:url(../images/box_left01.jpg) no-repeat; width:6px; height:6px; float:left; overflow:hidden}
.suggestrightcenter02{ width:518px; height:5px; overflow:hidden; border-bottom:1px solid #ccc; float:left}
.suggestrightbottom02{ background:url(../images/box_right01.jpg) no-repeat; width:6px; height:6px; float:right; overflow:hidden}

.suggestrightcontent{ width:500px; margin:0 auto}

.suggestleftcontent dl{ font-size:11px; width:530px; height:100px;}
.suggestleftcontent dt{ background:url(../images/user.jpg) no-repeat; float:left; width:50px; height:50px;}
.suggestleftcontent dd{ float:right; width:480px}

.suggestleftcontent01{ color:#999}

.helpsuggestright01 dl{ font-size:11px;}
.helpsuggestright01 dt{ background: url(../images/user.jpg) no-repeat; float: left; height: 50px; width: 50px;}

.helpsuggestright02{ width:230px; background:url(../images/box_bg.jpg) no-repeat; height:37px; color:#ffffff; line-height:37px; padding-left:20px;}

.helpsuggestright03{ width:242px; border:1px solid #cbcbcb; border-top:none; overflow:hidden; float:right; margin-bottom:10px;}
.helpsuggestright03 ul{ margin-left:20px; font-size:13px;}
.helpsuggestright03 ul li{ height:25px; line-height:25px;}
.helpsuggestright03 a{ color:#007DBF;}

.helpsuggestright04{ font-weight:bold; color:#666;}

.helpsuggestright05{ border:1px solid #cbcbcb; width:242px; float:right}
.helpsuggestright05 dl{ margin:20px 0px 0px 20px}
.helpsuggestright05 dt{ float:left; width:30px; height:70px;}
.helpsuggestright05 dd{ line-height:25px; height:25px;}

.helpsuggestrightspan{ width:25px; height:25px; background:#ccc; color:#666; margin-left:5px; font-size:12px;}

.helpsuggestright06{ font-size:14px; font-weight:bold; color:#007dbf}
.helpsuggestright07{ color:#007dbf; font-size:13px;}
.helpsuggestright08{ color:#333; font-weight:bold}

.helpsuggesearch{ height:28px; width:175px; margin:20px auto}
.helpsuggesearchleft{ width:134px; height:28px; float:left; padding-left:10px; font-size:12px; background:url(../images/box_search.jpg) no-repeat; line-height:28px;}
.helpsuggesearchright{ width:31px; float:right; background:url(../images/box_search01.jpg) no-repeat;}

.helpsuggesearchright a{ display:block; width:12px; height:12px; margin:8px;}

.yijianliebiaotop{ width:630px;}
.yijianliebiaotop01{ width:6px; background:url(../images/box_left.jpg) no-repeat; float:left; height:6px; overflow:hidden}
.yijianliebiaotop02{ width:618px; height:6px; float:left; border-top:1px solid #ccc; overflow:hidden}
.yijianliebiaotop03{ width:6px; background:url(../images/box_right.jpg) no-repeat; height:6px; float:right; overflow:hidden}

.yijianliebiaocenter{ border:1px solid #ccc; border-bottom:none; border-top:none; overflow:hidden; font-weight:bold; color:#999; line-height:20px; padding:5px}

.yijianliebiaotop04{ width:6px; background:url(../images/box_left01.jpg) no-repeat; float:left; height:6px; overflow:hidden}
.yijianliebiaotop05{ width:618px; height:6px; float:left; border-bottom:1px solid #ccc; overflow:hidden}
.yijianliebiaotop06{ width:6px; background:url(../images/box_right01.jpg) no-repeat; height:6px; float:right; overflow:hidden}

/*选项卡*/
.nTab{ float: left; width: 630px; margin: 20px auto;}
.nTab .TabTitle{ clear: both; height: 30px; overflow: hidden; text-align:center; font-size:12px;}
.nTab .TabTitle ul{ margin:0; padding:0;}
.nTab .TabTitle li{ float: left; width: 80px; height:30px; cursor: pointer; list-style-type: none;}
.nTab .TabTitle .active{ background:url(../images/box_bg01.jpg) no-repeat; color:#fff; line-height:22px;}
.nTab .TabTitle .normal{ color:#007dbf; line-height:22px;}
.nTab .TabContent{ width:auto; margin-top:30px;}
.none {display:none;}

.suggestright03 a{ color:#007dbf;  font-size: 18px; display:block; font-weight: bold; line-height: 1em; margin-bottom: 10px;}
.suggestright04{ color:#493c45; line-height:18px; font-size:13px;}
.suggestright05{ font-size:12px; color:#999; margin-top:10px;}
.suggestright05 span{ margin-right:20px;}

.suggestright06{ margin-top:20px; font-size:12px;}
.suggestright06 dt{ width:30px; height:80px; float:left;}
.suggestright06 dd a{ color:#007dbf}

#suggestion_title{ border:none; width:500px; height:100px; text-align:left; margin:0 auto}
#suggestion_title01{ width:600px; height:100px;}
#combined_search_sidebar{ width:120px; height:20px; margin-top:4px;}
.TabContent01{ margin-bottom:40px; overflow:hidden}

/*feedback*/

.feedback{ width:350px; margin:70px auto; background:#fff; font:10px "Arial"; border:1px solid #cbcbcb; position:relative}
.feedback h1 { color: #333333; font-size: 160%; font-weight: bold; letter-spacing: -1px; margin-bottom: 5px; height:25px; line-height:25px;}
.feedbackleft{ width:311px; float:left}
.feedbackright{ width:39px; float:right; margin-top:-40px; right:0; position:absolute}
.feedback h4 { color: #666666; font-size: 120%; font-weight: normal; margin-left: 0.5em;}

ol.ideas {  margin: 5px 0; width:350px;}
ol.ideas .suggestion { border-bottom: 1px dotted #CCCCCC; padding: 5px 0; height:30px; overflow:hidden}
.votes { float: left; text-align: center; width: 40px;}
.votes em { color: #444444; font-size: 160%; font-weight: bold; letter-spacing: -1px; line-height: 1;}
.votes label, .votes .label { color: #888888; display: block; font-size: 100%; font-weight: normal; margin-top: -0.3em;}
ol.ideas .suggestion .moderation { float: right;}
button.vote-button { font-weight: bold;}
.suggestion .moderation .pop-in { background: #FFFFFF;  border: 1px outset #AAAAAA;  padding: 1px 3px; position: absolute; right: 10px; top: -5px; width: 89px; z-index: 10000;}
.suggestion .moderation .pop-in p { color: #666666; font-size: 110%; margin-bottom: 2px;}

.content h3{ font-size:12px;}

.content a { color: #0066CC;  text-decoration: none;}
.content a:hover,h6.switch a:hover{ text-decoration:underline}
.contextual01 a{ width:308px; margin:0 auto; display: block; font-size: 160%; font-weight: bold; letter-spacing: -1px; padding: 7px 35px 7px 7px; text-decoration: none;}
.contextual01 a:hover{ display:block; background:#0066cc; color:#fff}
.contextual a,h6.switch a{ color: #0066CC;  text-decoration: none;}

h6.switch { background: #FFFFAA; color: #666666; font-size: 140%; font-weight: normal; margin-top: 1em; padding: 0.5em 1em; width:308px; margin:0 auto}
