@charset "utf-8";
/* CSS Document */
/* -----------------------------工厂实验室登陆--------------------------------------------------------------------------------------------------------------------------------------*/
.center_a{width:500px; height:auto; margin-left:20px; margin-top:20px; overflow:hidden;}
.center_a_left{float:left; display:inline; overflow:hidden; text-align:left; margin-right:10px;}
.center_a_right{float:left; display:inline; overflow:hidden; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; color:#1f568f;}
.center_b{width:500px; height:auto; margin-left:20px; margin-bottom:20px; overflow:hidden;}
.center_b_top{ width:500px; height:6px; background:url(../images/login_lab2.jpg) no-repeat; overflow:hidden;}
.center_b_middle{width:476px; _width:500px; padding:11px; height:auto; margin:0 auto; text-align:left; background:#fbfbfb; border-left:#cbcbcb solid 1px; border-right:#cbcbcb solid 1px; overflow:hidden;}
.center_b_middle01{ width:476px; margin:0 auto; padding-top:20px;}
.center_b_middle01 form{ display:block; width:476px; float:left}
.center_b_middle_left{width:90px; height:auto; margin-right:45px; float:left; display:inline; overflow:hidden; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000;}
.center_b_middle_left_a{color:#ff0000; margin-left:5px;}
.center_b_middle_right{width:340px; height:auto; float:right; display:inline; overflow:hidden; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
.center_b_middle ul{width:476x; height:auto; margin:0; overflow:hidden; text-align:left;}
.center_b_middle ul li{width:475px; height:auto; float:left; display:inline; overflow:hidden; margin-bottom:10px; text-align:left;}
.center_b_middle_right select{ width:204px; height:30px; line-height:30px; padding-top:2px; padding-bottom:2px; border:#cbcbcb solid 1px; vertical-align:middle;}
.center_b_middle_right_a{width:200px; height:25px; line-height:25px; border:#cbcbcb solid 1px;}
.center_b_middle_right_c{ margin-right:10px;}
.center_b_middle_right_d{ margin-right:10px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000;}
.center_b_middle_right_e a{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#0a5f84; text-decoration:underline;}
.center_b_middle_right_e a:hover,.center_b_middle_right_e a:active,.center_b_middle_right_e a:focus{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#0a5f84; text-decoration:none;}
.center_b_middle_right_f a{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#0a5f84; text-decoration:underline;}
.center_b_middle_right_f a:hover,.center_b_middle_right_f a:active,.center_b_middle_right_f a:focus{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#0a5f84; text-decoration:none;}
.center_b_middle_right_g{width:77px; height:27px; line-height:27px;}
.center_b_middle_right_g a{width:77px; height:27px; line-height:27px; background-image:url(../images/login_lab4.jpg); background-repeat:no-repeat; display:block; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#ffffff; text-decoration:none; text-align:center}
.center_b_middle_right_g a:hover,.center_b_middle_right_g a:active,.center_b_middle_right_g a:focus{width:77px; height:27px; line-height:27px; background-image:url(../images/login_lab5.jpg); background-repeat:no-repeat; display:block; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000; text-decoration:none; text-align:center}
.center_b_middle_right_h{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; font-weight:bold;}
.center_b_bottom{width:500px; height:7px; background-image:url(../images/login_lab3.jpg); background-repeat:no-repeat; overflow:hidden;}
/* -----------------------------工厂实验室登陆错误-------------------------------------------------------------------------------------------------------------------------------*/
.center_c{width:420px; height:50px; line-height:25px; text-align:left; margin:20px 410px 15px 20px; overflow:hidden; background-image:url(../images/login6.jpg); background-repeat:no-repeat; padding-left:60px; padding-right:20px; padding-top:5px; padding-bottom:5px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff; font-weight:bold;}
.center_d{width:200px; height:25px; line-height:25px; border:#cbcbcb solid 1px;}
.center_e{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ff0000; font-weight:bold;}
.center_f{width:200px; height:25px; line-height:25px; border:#ff0000 solid 1px;}
/* -----------------------------密码重置-------------------------------------------------------------------------------------------------------------------------------*/
.mmcz{width:500px; height:40px; line-height:40px; text-align:left; margin:0px 410px 0px 20px; overflow:hidden; font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; color:#1f568f;}
.mmcz_left{width:180px; height:auto; margin-right:45px; float:left; display:inline; overflow:hidden; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000;}
.mmcz_right{width:250px; height:auto; float:right; display:inline; overflow:hidden; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
.mmcz_right select{ width:204px; height:30px; line-height:30px; padding-top:2px; padding-bottom:2px; border:#cbcbcb solid 1px; vertical-align:middle;}
.mmcz_a{width:141px; height:27px; line-height:27px;}
.mmcz_a a{width:116px; height:27px; line-height:27px; background-image:url(../images/mmcz1.jpg); background-repeat:no-repeat; display:block; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#ffffff; text-decoration:none; padding-left:25px;}
.mmcz_a a:hover,.mmcz_a a:active,.mmcz_a a:focus{width:116px; height:27px; line-height:27px; background-image:url(../images/mmcz2.jpg); background-repeat:no-repeat; display:block; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000; text-decoration:none; padding-left:25px;}
/* -----------------------------工厂实验室注册-----------------------------------------------------------------------------------------------------------------------------*/
.gcsyszc_a a{width:73px; height:27px; line-height:27px; background-image:url(../images/zc1_03.jpg); background-repeat:no-repeat; display:block;}
.gcsyszc_a a:hover,.gcsyszc_a a:active,.gcsyszc_a a:focus{width:73px; height:27px; line-height:27px; background-image:url(../images/zc2_03.jpg); background-repeat:no-repeat; display:block;}
.gcsyszc_a{width:500px; height:auto; text-align:left; margin:0px 430px 0px 0px; overflow:hidden; font-family:Arial, Helvetica, sans-serif; font-size:25px; font-weight:bold; color:#000000;}
.gcsyszc_b{width:73px; height:27px; line-height:27px;}
.gcsyszc_b a{width:73px; height:27px; line-height:27px; background-image:url(../images/zc1_03.jpg); background-repeat:no-repeat; display:block; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#ffffff; text-decoration:none; text-align:center}
.gcsyszc_b a:hover,.gcsyszc_b a:active,.gcsyszc_b a:focus{width:73px; height:27px; line-height:27px; background-image:url(../images/zc2_03.jpg); background-repeat:no-repeat; display:block; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#000000; text-decoration:none; text-align:center}
/* -----------------------------工厂实验室注册错误-----------------------------------------------------------------------------------------------------------------------------*/
#gcsyszccuowu{margin-top:15px;}
/* -----------------------------工厂实验室注册第二步-----------------------------------------------------------------------------------------------------------------------------*/
.gcsyszcdeb{width:930px; height:auto; text-align:center; margin:0px auto; overflow:hidden;}
.gcsyszcdeb_left{width:612px; height:auto; margin-right:20px; float:left; display:inline; overflow:hidden; text-align:left;}
.gcsyszcdeb_left_a{width:612px; height:auto; text-align:left; margin:0px auto; overflow:hidden; font-family:Arial, Helvetica, sans-serif; font-size:25px; font-weight:bold; color:#000000;}
.gcsyszcdeb_left_b{width:612px; height:auto; text-align:left; margin:0px auto; overflow:hidden; font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; color:#1f568f;}
.gcsyszcdeb_left_c{width:612px; height:auto; margin:20px auto; overflow:hidden; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
.gcsyszcdeb_left_c_top{ width:612px; height:6px; background-image:url(../images/SignUp_03.jpg); background-repeat:no-repeat; overflow:hidden;}
.gcsyszcdeb_left_c_middle{width:588px; height:auto; padding:11px; background-color:#fbfbfb; border-left:#cbcbcb solid 1px; border-right:#cbcbcb solid 1px; overflow:hidden;}
.gcsyszcdeb_left_c_middle_left{width:180px; height:auto; margin-right:20px; float:left; display:inline; overflow:hidden; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000;}
.center_b_middle_left_a{ color:#ff0000; margin-left:5px;}
.gcsyszcdeb_left_c_middle_right{width:300px; height:auto; float:right; display:inline; overflow:hidden; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
.gcsyszcdeb_left_c_middle ul{width:588x; height:auto; margin:0px auto; overflow:hidden; text-align:left;}
.gcsyszcdeb_left_c_middle ul li span a img{ display:block; float:right;}
.gcsyszcdeb_left_c_middle ul li span img{ display:block; float:left; margin-top:10px; margin-right:5px;}
.gcsyszcdeb_left_c_middle ul li{width:520px; height:auto; float:left; display:inline; overflow:hidden; margin-bottom:10px; text-align:left; }
.gcsyszcdeb_left_c_middle_right select{ width:204px; height:30px; line-height:30px; padding-top:2px; padding-bottom:2px; border:#cbcbcb solid 1px; vertical-align:middle;}
.gcsyszcdeb_left_c_middle_right_b{width:100px; height:25px; line-height:25px; border:#cbcbcb solid 1px; margin:auto 20px;}
.gcsyszcdeb_left_c_middle_right_a{width:100px; height:25px; line-height:25px; border:#cbcbcb solid 1px;}
.gcsyszcdeb_left_c_middle_right dl{width:328px; height:auto; overflow:hidden; text-align:left;}
.gcsyszcdeb_left_c_middle_right dl dt{width:328px; height:auto; overflow:hidden; text-align:left; float:left; display:inline;}.gcsyszcdeb_left_c_middle_right dl dt input{margin-right:10px;}
.gcsyszcdeb_left_c_middle_right input{ margin-right:10px;}
.gcsyszcdeb_left_c_bottom{width:612px; height:6px; background-image:url(../images/SignUp_14.jpg); background-repeat:no-repeat; overflow:hidden;}
.gcsyszcdeb_left_d{width:97px; height:27px; text-align:left; margin:0px auto 30px 276px; overflow:hidden;}
.gcsyszcdeb_left_d a{width:72px; height:27px; line-height:27px; background-image:url(../images/SignUp_17.jpg); background-repeat:no-repeat; display:block; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#ffffff; text-decoration:none; padding-left:25px;}
.gcsyszcdeb_left_d a:hover,.gcsyszcdeb_left_d a:active,.gcsyszcdeb_left_d a:focus{width:72px; height:27px; line-height:27px; background-image:url(../images/SignUp1_03.jpg); background-repeat:no-repeat; display:block; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000; text-decoration:none; padding-left:25px;}
.gcsyszcdeb_left_e{width:420px; height:50px; line-height:25px; text-align:left; margin:15px auto 15px 0px; overflow:hidden; background-image:url(../images/login6.jpg); background-repeat:no-repeat; padding-left:60px; padding-right:20px; padding-top:5px; padding-bottom:5px;font-family:Arial, Helvetica, sans-serif; font-size:14px;   color:#ffffff; font-weight:bold;}
.gcsyszcdeb_right{width:298px; height:auto; float:left; display:inline; overflow:hidden; text-align:left;}
/* -----------------------------密码重置-------------------------------------------------------------------------------------------------------------------------------*/
.center_g{ color:#333; font-family:Arial, Helvetica, sans-serif;}
.center_g dt{ height:30px; line-height:25px;}
.center_g dd{ background:url(../images/SignUp2_07.jpg) 5px no-repeat; padding-left:20px; margin-left:10px; height:20px; line-height:20px;}

.center_h{width:422px; height:60px; line-height:60px; padding-left:60px; text-align:left; overflow:hidden; background:url(../images/login7.jpg) no-repeat; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff; font-weight:bold;}
.center_g p{ height:50px; line-height:50px; font-size:14px;}
.center_g p a{ color:#0c5196}
/* ------------------------------广告代码------------------------------------------------------------------------------------------------------------------------------*/
#playBox{ width:964px; height:354px; margin:0 auto; position:relative; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0; overflow:hidden}
#playBox .oUlplay li{ float:left;}
#playBox .pre,#playBox .next{ background:none;}

#playBox .smalltitle { width:964px; height:16px; position:absolute; bottom:15px; z-index:10}
#playBox .smalltitle ul{ width:auto; float:right}
#playBox .smalltitle ul li{ width:16px; height:16px; margin:0 5px; background:url(../images/lunbo_1.png) no-repeat; float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle{  background:url(../images/lunbo_2.png) no-repeat;}

.gg_fbtnall{ margin:0 auto; width:964px; position:relative}
.gg_fbtn{ position:absolute; width:20px; z-index:999; right:-19px}
.gg_fbtn a {  display:block; background:url(../images/gg_btn1.png) no-repeat -19px 0px; overflow:hidden; height:55px;}
.gg_fbtn a.open{ background:url(../images/gg_btn1.png) no-repeat 1px 0px;}



















