<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="appender-root-console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %-5p (%F:%L) [%M()] - %m%n" />
		</layout>
		<!--限制输出级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

	<appender name="appender-root-file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${webRoot}/logs/ddx-log" />
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %-d{dd/MM/yy HH:mm:ss,SSS} [%C{1}:%L] %m%n" />
		</layout>
	</appender>

	<root>
		<level value="debug" />
		<appender-ref ref="appender-root-console" />
		<appender-ref ref="appender-root-file" />
	</root>
</log4j:configuration>